<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toll Payment</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/logInstyle.css')}}">
</head>
<body>
    <header>
        <img src="{{url_for('static',filename='images/Back_arrow.svg')}}" alt="Back" width="50px" onclick="back_user()">
        <nav>
            <h1>Log In</h1>
        </nav>
    </header>
    <div class="parent">
        <div class="box">
            <form action="/payment_details" method="post" >
                <select name="reg_no" id="reg_no">
                    <option value="">Select</option>
                    <option value="{{regn}}">{{regn}}</option>
                </select>
                <select name="dis" id="dis">
                    <option value="10">10 km</option>
                    <option value="30">30 km</option>
                    <option value="50">50 km</option>
                    <option value="80">80 km</option>
                </select>
                <select name="amount" id="p_amount">
                    <option value="10">10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="80">80</option>
                </select>
                <select name="date" id="date">
                    <option value="{{date}}">{{date}}</option>
                </select>

                <input type="submit" value="Pay">
            </form>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/Script.js')}}"></script>
</body>
</html>