<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Interface</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/userStyle.css')}}">
</head>

<body>
    <header id="hd">
        <h1>Tol Tax</h1>
        <nav>
            <ul id="menu">
                <li>Home</li>
                <li>About Us</li>
                <li>Pricing</li>
                <li>Contact Us</li>
            </ul>
            <img src="{{url_for('static',filename='images/menu_icon.svg')}}" alt="menu" id="menu_icon">
        </nav>
    </header>
    <main>
        <div class="ud">
            <h1>Arpan_07</h1>
            <div class="d">
                <span>Name:</span>
                <span>Arpan Kumar Paul</span>
            </div>
            <div class="d">
                <span>E-mail:</span>
                <span>arpanpaul59@gmail.com</span>
            </div>
            <div class="b">
                <button id="r_v" onclick="reg_veh()">Registration</button>
                <button id="pay_toll" onclick="pay_t()">Pay Toll Tax</button>
            </div>
        </div>
        <div class="vpd">
            <div class="box">
                <h3>Registrated Vehicle</h3>
                <div class="abc" id="vehicle">
                    <!-- add registrated vehicles -->
                    No Records
                </div>
            </div>
            <div class="box">
                <h3>Payments</h3>
                <div class="abc" id="payment">
                    <!-- add Payment list by the user -->
                    No Records
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <h3>Contact Us</h3>
            <p>Phone: +1 123-456-7890</p>
            <p>Email: <a href="mailto:support@tollplaza.com">support@tollplaza.com</a></p>
        </div>
        <div class="container">
            <h3>Follow Us</h3>
            <a href="#" aria-label="Facebook">Facebook</a>
            <a href="#" aria-label="Twitter">Twitter</a>
            <a href="#" aria-label="Instagram">Instagram</a>
        </div>
        <div class="container">
            <h3>Quick Links</h3>
            <a href="#">Home</a><a href="#">About Us</a>
            <a href="#">Pricing</a>
            <a href="#">Contact Us</a>
        </div>
    </footer>
    <script src="{{url_for('static',filename='js/Script.js')}}"></script>
</body>

</html>
